<ul class="space-y-2 text-[15px]">
    {{ range .Pages }}
    {{ $isActive := eq .RelPermalink $.Parent.RelPermalink }}
    {{ $isInTrail := or ($isActive) (.IsAncestor $.Parent) }}

    {{ if .Pages }}
    <li>
        <details class="group" {{ if $isInTrail }}open{{ end }}>
            <summary class="flex items-center space-x-2 cursor-pointer text-neutral-700 rounded-md hover:bg-neutral-100">
            <span class="shrink-0">
              <svg class="w-4 h-4 transition-transform group-open:rotate-90" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path d="M9 5l7 7-7 7" />
              </svg>
            </span>
                <a href="{{ .RelPermalink }}"
                   class="transition-colors {{ if $isInTrail }}text-amber-600 font-semibold{{ else }}text-neutral-700 {{ end }}">
                    {{ .Title }}
                </a>
            </summary>
            <div class="ml-5 mt-1">
                {{ partial "nav.html" (dict "Pages" .Pages "Parent" $.Parent) }}
            </div>
        </details>
    </li>
    {{ else }}
    <li>
        <a href="{{ .RelPermalink }} "
           class="block pl-6 transition-colors {{ if $isActive }}text-amber-600 font-semibold{{ else }}text-neutral-700 rounded-md{{ end }} hover:bg-neutral-100">
            {{ .Title }}
        </a>
    </li>
    {{ end }}
    {{ end }}
</ul>

