<a href="{{ .RelPermalink }}"
   class="flex flex-col items-center p-1 rounded hover:bg-neutral-100 transition module-link"
   data-title="{{ .Title | lower }}">
  <div class="flex items-center space-x-2">
    {{ with .Params.logo }}
    <img src="{{ . | relURL }}"
         alt="{{ $.Title }} logo"
         class="w-6 h-6 object-contain" />
    {{ end }}
    <div class="font-bold text-sm">
      {{ .Title }}
    </div>
  </div>
  <div class="flex pl-8 flex-col overflow-hidden">
    <div class="font-light text-sm truncate">
      {{ .Params.description }}
    </div>
  </div>
</a>